<div id="<%= dom_id book %>">
  <p>
    <strong>Book:</strong>
    <%= book.book_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= book.author_name %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book.publisher %>
  </p>

  <p>
    <strong>Publication year:</strong>
    <%= book.publication_year %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= book.supplier_id %>
  </p>

</div>
